<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>
<div><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4 class="navbar-brand" >EmP</h4>
    </div>
    <ul class="nav navbar-nav">	
      <li><h4 style="padding:15px"><a th:href="@{/index}">View Employees</a></h4></li>
    </ul>
  </div>
</nav></div>
<div>
<center>
<h1>EMPLOYEE MANAGEMENT SYSTEM</h1>
</center>
<BR>
</div>
<div><center><img src="./IMG_1460.jpg" alr="img not found" height=490px width=700px></center></div>
</body>
</html>