<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>
<body>

<div><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4 class="navbar-brand" >EmP</h4>
    </div>
    <ul class="nav navbar-nav">	
      <li><h4 style="padding:15px;margin: 15px 40px 15px 1100px;"><a th:href="@{/index}">Back</a></h4></li>
    </ul>
    </div>
</nav></div>
<div class="container">
<h1>Employee Management System</h1>
<hr>
<h2>Save Employee</h2>
<div>
<form action="#" th:action="@{/saveEmployee}" th:object="${employee}"method="post">
<input type="text" th:field="*{firstname}" placeholder="employee first name" class="form-control mb-4 col-4">
<br>
<input type="text" th:field="*{lastname}" placeholder="employee last name" class="form-control mb-4 col-4">
<br>
<input type="text" th:field="*{email}" placeholder="employee email" class="form-control mb-4 col-4">
<br>
<button type="submit" class="btn btn-info">Save Employee</button>

</form>
</div>
<hr>

</div>

</body>
</html>